spring:
  datasource:
    url: jdbc:mysql://10.135.58.16:3306/test
    username: root
    password: '06240118'
    driver-class-name: com.mysql.cj.jdbc.Driver

    druid:
      aop-patterns: com.atguigu.admin.*  #监控SpringBean
      filters: stat,wall     # 底层开启功能，stat（sql监控），wall（防火墙）

      stat-view-servlet:   # 配置监控页功能
        enabled: true
        login-username: admin
        login-password: admin
        resetEnable: false

      web-stat-filter:  # 监控web
        enabled: true
        urlPattern: /*
        exclusions: '*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*'


      filter:
        stat:    # 对上面filters里面的stat的详细配置
          slow-sql-millis: 1000
          logSlowSql: true
          enabled: true
        wall:
          enabled: true
          config:
            drop-table-allow: false

#  jdbc:
#    template:
#      query-timeout: 10
  mvc:
    hiddenmethod:
      filter:
        enabled: false
    contentnegotiation:
      favor-parameter: true

  redis:
    host: 10.135.58.16
    port: 6379
    password: "06240118"

mybatis:
  # 配 置 扫 描
  mapper-locations: classpath*:**/xml/**.xml
#  config-location: classpath:mybatis/mybatis-config.xml
