<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>新增用户 - 后台管理系统</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="keywords" content="后台管理系统">
    <meta name="description" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="css/materialdesignicons.min.css" rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}">
    <!--标签插件-->
    <link rel="stylesheet" href="js/jquery-tags-input/jquery.tagsinput.min.css" th:href="@{/js/jquery-tags-input/jquery.tagsinput.min.css}" />
    <link rel="stylesheet" href="css/style.min.css" th:href="@{/css/style.min.css}">
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <img src="images/logo-sidebar.png" th:src="@{/images/logo-sidebar.png}" title="LightYear" alt="LightYear" /></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item"> <a href="users.html" th:href="@{/admin/userlist/1}"><i class="mdi mdi-format-align-justify"></i> 用户列表</a> </li>
                    </ul>
                </nav>
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title"> 新增用户 </span>
                    </div>


                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <form action="#!"  th:action="@{'/admin/adduser?page=1'}" method="post" class="row" id="myform">
                                    <div class="form-group col-md-12">
                                        <label for="title">用户名</label>
                                        <input type="text" class="form-control" id="username" name="username" value="" placeholder="请输入用户名" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="seo_keywords">密码</label>
                                        <input type="password" class="form-control" id="password" name="password" value="" placeholder="密码" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="seo_keywords">昵称</label>
                                        <input type="text" class="form-control" id="nickname" name="nickname" value="" placeholder="昵称" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="seo_keywords">邮箱</label>
                                        <input type="text" class="form-control" id="email" name="email" value="" placeholder="邮箱" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="seo_keywords">电话</label>
                                        <input type="text" class="form-control" id="phone" name="phone" value="" placeholder="电话" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="tags">喜好</label>
                                        <input class="js-tags-input form-control" type="text" id="hobbies" name="hobbies" value="" />
                                    </div>

                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-primary ajax-post" href="javascript:add('你确定添加用户信息吗?','myform');">确 定</button>
                                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<!--标签插件-->
<script src="js/jquery-tags-input/jquery.tagsinput.min.js" th:src="@{/js/jquery-tags-input/jquery.tagsinput.min.js}"></script>
<script type="text/javascript" src="js/main.min.js" th:src="@{/js/main.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        var data1=[[${error}]];
        if(data1.length != 0){
            alert(data1);
        }
    });

    function add(mess,formid){
        if(confirm(mess)){
            var form = document.getElementById(formid);
            form.submit();
        }
    }
</script>
</body>
</html>